@import "tailwindcss";
@plugin "@toolwind/corner-shape";

@font-face {
  font-family: Gambarino;
  src: url("../assets/fonts/gambarino.ttf");
}

@font-face {
  font-family: Switzer;
  src: url("../assets/fonts/switzer.ttf");
}

@font-face {
  font-family: Chillax;
  src: url("../assets/fonts/chillax.ttf");
}

@theme {
  --font-title: "Gambarino", "serif";
  --font-display: "Switzer", "sans-serif";
  --font-alternate:"Chillax","sans-serif";

  /* Colors: background */
--color-background-50: #f6f6f6;
--color-background-100: #ebebeb;
--color-background-200: #d4d4d4;
--color-background-300: #b6b6b6;
--color-background-400: #969696;
--color-background-500: #777777;
--color-background-600: #636363;
--color-background-700: #505050;
--color-background-800: #3e3e3e;
--color-background-900: #2c2c2c;
--color-background-950: #000000;

/* Colors: foreground */
--color-foreground-50: #ffffff;
--color-foreground-100: #ebebeb;
--color-foreground-200: #d4d4d4;
--color-foreground-300: #b6b6b6;
--color-foreground-400: #969696;
--color-foreground-500: #777777;
--color-foreground-600: #636363;
--color-foreground-700: #505050;
--color-foreground-800: #3e3e3e;
--color-foreground-900: #2c2c2c;
--color-foreground-950: #1b1b1b;


/* Colors: accent */
--color-accent-50: #e5fff3;
--color-accent-100: #d7f1e5;
--color-accent-200: #c1dacf;
--color-accent-300: #a3bcb0;
--color-accent-400: #839b90;
--color-accent-500: #657c72;
--color-accent-600: #52685e;
--color-accent-700: #3f554b;
--color-accent-800: #2d4239;
--color-accent-900: #1c3028;
--color-accent-950: #0b1f17;
}

body {
  @apply bg-background-950 text-foreground-50 font-display select-none outline-none;
}

::-webkit-scrollbar {
  width: 0;
  background: 0;
  color: none;
}

button{
  @apply cursor-pointer active:scale-[0.97];
}

.navlink{
  @apply text-sm text-foreground-100 hover:text-foreground-50 active:scale-[0.97];
}

#no-scroll {
  scrollbar-width: 0;
  scrollbar-color: 0;
  scrollbar-gutter: 0;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
